<<<<<<< HEAD
.link {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
=======
.login-register-container {
    padding: 20px;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.login-register-container form {
display: flex;
flex-direction: column;
gap: 10px;
>>>>>>> f7771d4aa7fc7fccb65a53461bc89c08c4a7b745
}