/*
CSS for the project #5 main page

Since CSS uses a global name space for classes we should use class names starting with
main- here.
*/

.main-topbar-buffer {
  margin-top: 70px;
}

.main-grid-item {
<<<<<<< HEAD
  height: calc(100vh - 115px);
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
=======
  height: calc(100vh + 10px);
  padding: 10px;
  overflow: auto;
>>>>>>> f7771d4aa7fc7fccb65a53461bc89c08c4a7b745
}
